<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/videos"><%= siteName %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        <% if (!menuSettings || menuSettings.showVideosMenu) { %>
          <li class="nav-item"><a class="nav-link" href="/videos">Videos</a></li>
        <% } %>
        <% if (!menuSettings || menuSettings.showBlogsMenu) { %>
          <li class="nav-item"><a class="nav-link" href="/blogs">Blogs</a></li>
        <% } %>
        <% if (currentUser && currentUser.role === 'admin') { %>
          <li class="nav-item"><a class="nav-link" href="/admin/dashboard">Dashboard</a></li>
          <li class="nav-item">
            <form action="/admin/logout" method="POST">
              <button class="btn btn-outline-light btn-sm" type="submit">Logout</button>
            </form>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
